includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/nexendrie/code-quality/phpstan.neon
parameters:
    ignoreErrors:
        - '#Method Nexendrie\\Menu\\DI\\MenuExtension::getConfig\(\) should return array but returns array\|string#'
    universalObjectCratesClasses:
        - Nette\Bridges\ApplicationLatte\Template
