application:
    scanDirs: false
services:
    testbench.presenterMock: Testbench\Mocks\PresenterMock
    - Nexendrie\Menu\Translator
extensions:
    menu: Nexendrie\Menu\DI\MenuExtension
menu:
    default:
        items:
            Test: "Test:"
            New Test: Test:new
    list:
        title: Menu
        htmlId: testMenu
        items:
            Test: "Test:"
            New Test: Test:new
    translated:
        title: Menu
        htmlId: testMenu
        translate: true
        items:
            Test: "Test:"
            New Test: Test:new
