application:
    scanDirs: false
services:
    testbench.presenterMock: Testbench\Mocks\PresenterMock
extensions:
    menu: Nexendrie\Menu\DI\MenuExtension
menu:
    default:
        title: Menu
        items:
            Test: "Test:"
            New Test: Test:new
