{define menu-level, $items}
    {foreach $items->allowedItems as $item}<a href="{$item->link}">{_$item->text}</a>{if $item->allowedItems} {include this, $item}{/if}{if !$iterator->isLast()} {/if}{/foreach}
{/define}
  <nav id="{$menu->htmlId}">
    {include menu-level, $menu}
  </nav>
